## Introduction

(2025/10/07)
To facilitate the loading of data, I store our large data into a local database (DuckDB), now there are two means of loading the data:

1. As usual, using `pandas.read_csv()` (Might suffer from low speed and large memory ocupation when it comes to the `impressions.csv`)

2. Use DuckDB to perform SQL-style query and transform them into `pandas.DataFrame`

**You can user DBeaver to explore the whole `.duckdb` DataBase:**
https://duckdb.org/docs/stable/guides/sql_editors/dbeaver.html

In [1]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-1.4.1-cp312-cp312-win_amd64.whl.metadata (14 kB)
Downloading duckdb-1.4.1-cp312-cp312-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ---------------------------------------- 0.1/12.3 MB 1.7 MB/s eta 0:00:08
    --------------------------------------- 0.3/12.3 MB 3.3 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/12.3 MB 6.3 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/12.3 MB 7.2 MB/s eta 0:00:02
   ------- -------------------------------- 2.3/12.3 MB 10.7 MB/s eta 0:00:01
   ----------- ---------------------------- 3.6/12.3 MB 14.5 MB/s eta 0:00:01
   -------------- ------------------------- 4.5/12.3 MB 15.3 MB/s eta 0:00:01
   -------------------- ------------------- 6.2/12.3 MB 18.2 MB/s eta 0:00:01
   ------------------------- -------------- 7.8/12.3 MB 20.8 MB/s eta 0:00:01
   ----------------------------- ---------- 9.2/12.3 MB 21.8 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.3 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.3 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 32.8 MB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-1.4.1

In [2]:
import duckdb
import pandas as pd

## 1. Directly open .csv File

In [3]:
df = pd.read_csv('data/creator_stats.csv')

In [4]:
df

                    creatorId  dt  PushlishMlogCnt
0        PCGCHCGCKCHCNCPCMCHC   8                0
1          MCGCHCJCMCICMCKCHC   8                0
2          LCPCJCNCHCLCMCGCMC   8                0
3          LCLCMCOCICMCOCICHC   8                0
4        PCKCNCGCNCOCLCKCHCMC   8                0
...                       ...  ..              ...
2572507    ICMCPCOCJCMCMCMCIC  15                0
2572508  PCNCJCPCMCHCHCJCICNC  15                0
2572509    KCGCJCKCJCHCICJCNC  15                0
2572510    PCMCPCOCPCLCGCJCIC  15                0
2572511    KCOCMCGCKCOCPCGCGC  15                0

[2572512 rows x 3 columns]

## 2. Connect to Database and Use SQL to query databases

In [7]:
conn = duckdb.connect("data/ncm-research-data.duckdb")
df_from_sql = conn.sql("""
SELECT *
FROM main.creator_stats
""").to_df()

In [8]:
df_from_sql

                    creatorId  dt  publishMlogCnt
0        PCGCHCGCKCHCNCPCMCHC   8               0
1          MCGCHCJCMCICMCKCHC   8               0
2          LCPCJCNCHCLCMCGCMC   8               0
3          LCLCMCOCICMCOCICHC   8               0
4        PCKCNCGCNCOCLCKCHCMC   8               0
...                       ...  ..             ...
2572507    ICMCPCOCJCMCMCMCIC  15               0
2572508  PCNCJCPCMCHCHCJCICNC  15               0
2572509    KCGCJCKCJCHCICJCNC  15               0
2572510    PCMCPCOCPCLCGCJCIC  15               0
2572511    KCOCMCGCKCOCPCGCGC  15               0

[2572512 rows x 3 columns]

In [9]:
conn.close()